MONGODB_URI=mongodb://username:password@host:port/dbName?authSource=admin
PORT=
API_PORT=3000
NODE_ENV = dev
JWT_EXPIRE = 30d
JWT_SECRET = b7c4e06753885a9c34a4bd100b32daea474f54187fe1d94e0b9186e4d8000139
PASS_REGX =  '/^(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,16}$/'
TEXT_REGX = '/^[a-zA-Z0-9äöüÄÖÜ]*$/'